<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Subscribers</title>
<link th:replace="subscriber/fragments/headLink">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
				</div>
			</div>
		</nav>
		<h1>Subscriber List</h1>
		<table border="1" class="table table-sm table-striped w-auto">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Subscriber Details</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subscriber:${subscribers}">
					<td th:text="${subscriber.firstName}" />
					<td th:text="${subscriber.lastName}" />
					<td><a href="#">Subscriber Details</a>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:replace="subscriber/fragments/scripts"></script>
</body>
</html>